p {
    color: green;
    padding: 20px 30px 20px 30px;
    font-size: 30px;
    font-weight: 900;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

h2{
    background-color: aquamarine;
    padding: 16px;
    border-top: 10px solid blue;
    border-right-color: 10px dotted black;
    border-bottom: 10px dashed darkblue;
    border-left: 30px groove orange;
}
.destaque {
    color: orange;
}
.size {
    width:50%;
    height: 80%;
    background-color: gray;
    margin-top: 20px;
    margin-left: 20px;
}

h1 {
    border: 5px dashed blue;
    /* background-color: #ff00ff;
    border-top-style: solid;
    border-right-width: 5px;
    border-bottom-color: red;
    border-left-color: #ff00ff;
    border-right-color: #F0f;
    border-top: 10px solid blue; */
}
h3 {
    outline: 5px dashed red;

}