H1{
    font-weight: 900;
    text-align: center;
    font-family: Arial;
    font-size: 50px;
    text-decoration: underline;
    color: blueviolet;
}
h2{
    font-weight: 600;
    text-align: center;
    font-family: arial;
    color: chartreuse;
    font-size: 30px;
}
ol{
    font-size: 20px;
    font-family: arial;
    font-weight: 400;
}
p1{
    color: red;
}
p2{
    color: blue;
}
p3{
    color: black;
}
p4{
    color: cyan;
}
p5{
    color: green;
}

/* apenas criei tags dentro das minhas listas para que eu possa modificala de qualquer forma */

/* OUTRA FORMA DE CSS NO CLASS E ID */

ul{
    list-style-position: inside; /* comando de listas */
    font-size: 20px;
    font-family: arial;
    font-weight: 500;
    
}
li[value="1"] {color: blue;}
li[value="2"] {color: red;}
#cssid { /* Aqui eu ultilizei a forma de id para referenciar */
    color: black;
}
li[value="4"] {
    color: green;
}
li[value="5"] {
    color: yellow;
}
*{ text-align: left;}
/* ultilizando     * {...}       eu posso alterar o meu css inteiro da maneira que eu quisee */
#pcss1 {
    font-size: 20px;
    font-style: italic;
    color: purple;
}
p{ font-size: 20px;
    font-style: italic;
    color: brown;}

    