h1{
    font-size: 48px ;
    color: blueviolet;
    font-family: Arial;
    font-weight: 900;
}
h2{
    font-size: 28px;
    font-family: Arial;
    font-weight: 900;
}
h3{
    font-family: arial;
    font-weight: 900;
    font-size: 30px;
    color: brown;
}
li{
    text-align: left;
    text-decoration: ;
}